#app {
  background: url("./resources/bulletin-board-bg.jpg") ;
  font-family: 'Dekko';
}

.header {
  background-color: rgba(255, 255, 255, 0.5);
}

#app .header h1 {
  font-family: 'Architects Daughter', cursive !important;
  position: relative;
}

.custom-card {
  min-width: 550px;
  max-width: 600px !important;
}

.custom-card-shadow {
  box-shadow: 0px 0px 0px 0px #0c1624,
  -7px 40px 7px -43px #0c1624,
  0px 40px 20px -35px #000 !important
}

.signup-card {
  background: url("./resources/signup-card.png") no-repeat;
  background-size: cover;
}

.login-card {
  background: url("./resources/login-card.png") no-repeat;
  background-size: cover;
}

.item-card-1 {
  background: url("./resources/item1.png") no-repeat;
  background-size: cover;
}

.item-card-2 {
  background: url("./resources/item2.png") no-repeat;
  background-size: cover;
}

.item-card-3 {
  background: url("./resources/item3.png") no-repeat;
  background-size: cover;
}